.question-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.movie-actor-container, .answer-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.movie-container, .actor-container {
    display: flex;
    flex-direction: column;
}

.answer-buttons-container {
    width: 30%;
    margin: auto;
    margin-top: 30px;
}